<h1> Homepage </h1>
<h1>Welcome, <%= current_user.first_name %></h1>

<a href='/drinks/new'>Create a Drink </a>    
<br>
 <a href='/drinks'>View your Drinks </a>


 <style>
    body  {
      background-image: url("https://media.istockphoto.com/vectors/seamless-pattern-sketch-the-different-cups-of-coffee-coffee-pots-and-vector-id977658440");
      background-color: #cccccc;
    } 