<form action ="/create_drinks" method = "post">
  <h1> Create your favorite drink! </h1>
  <p>Drink Name: <input id = "drink_name" name = "drink_name" type = "text"></p>
  <%# <p>Temperature:<input id = "temperature" name = "temperature" type = "text"></p> %>
  
  <p>Choose a Temperature: <select name="temperature" id="temperature"> </p> 
    <option value="Hot">Hot</option>
    <option value="Very Hot">Very Hot</option>
    <option value="Scalding">Scalding</option>
    <option value="Kids Temp">Kids Temp</option>
    <br>
  <p>Choose a Milk type: <select name="milk_options" id="milk_option"> </p>
  <label for="milk_options">Choose a Milk Type:</label>
  <select name="Milk Options" id="milk_options">
    <option value="whole milk">Whole Milk</option>
    <option value="2% milk">2% Milk</option>
    <option value="Almond ">Almond</option>
    <option value="Oat">Oat</option>
    <br>
  <p>Choose a Flavor: <select name="flavors" id="flavors"> </p>
  <label for="flavors">Choose a flavor:</label>
  <select name="Flavors" id="flavors">
    <option value="Vanilla">Vanilla</option>
    <option value="Pumpkin">Pumpkin</option>
    <option value="Salted honey">Salted Honey</option>
    <option value="Lavender">Lavender</option>
  </select>
  <br>
  <input id = "submit" type = "submit" value = "CREATE!">

<%# 
   <label for="flavors">Choose a flavor:</label>
  <select name="Flavors" id="flavors">
    <option value="vanilla">Vanilla</option>
    <option value="pumpkin">Pumpkin</option>
    <option value="salted honey">Salted Honey</option>
    <option value="lavender">Lavender</option>
  </select> %>